@model IEnumerable<ProgettoPoliziaMunicipale.Models.Verbale>

@{
    ViewData["Title"] = "Elenco Verbali";
}

<h2>@ViewData["Title"]</h2>


<a href="@Url.Action("Index", "Statistiche")" class="btn btn-primary">Vai alle statistiche</a>

<table class="table">
    <thead>
        <tr>
            <th>Id Trasgressore</th>
            <th>Trasgressore</th>
            <th>Violazione</th>
            <th>Data Violazione</th>
            <th>Importo</th>
            <th>Decurtamento Punti</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
       
            <tbody>
                @foreach (var verbale in Model)
                {
                    <tr>
                        <td>@verbale.Idanagrafica</td>
                        <td>@(verbale.IdanagraficaNavigation?.Nome ?? "N/A")</td>
                        <td>@(verbale.IdanagraficaNavigation?.Cognome ?? "N/A")</td>
                        <td>@(verbale.IdviolazioneNavigation?.Descrizione ?? "N/A")</td>
                        <td>@verbale.DataViolazione.ToString("dd/MM/yyyy")</td>
                        <td>@verbale.Importo.ToString("C")</td>
                        <td>@verbale.DecurtamentoPunti</td>
                        <td>
                          <a href="@Url.Action("Contestazione", "Verbale", new { id = verbale.Idverbale })">Contesta</a>
					      <a href="@Url.Action("Delete", "Verbale", new { id = verbale.Idverbale })">Elimina</a>"

                        </td>
                        
                    </tr>
                }
            </tbody>
           
</table>

<a href="@Url.Action("Create", "Verbale")" class="btn btn-primary">Aggiungi Verbale</a>


