@model IEnumerable<ProgettoPoliziaMunicipale.Models.Anagrafica>

@{
    ViewData["Title"] = "Elenco Trasgressori";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Codice Fiscale</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trasgressore in Model)
        {
            <tr>
                <td>@trasgressore.Cognome</td>
                <td>@trasgressore.Nome</td>
                <td>@trasgressore.CodFisc</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Anagrafica")" class="btn btn-primary">Aggiungi Trasgressore</a>
